@import '../../global.scss';

.pg-expense-input-object-data-input {
  border-left: 1px solid rgba(156, 156, 156, 0.4);
  font-size: 14px;
  height: 50px;
  margin-left: 50px;
  margin-top: -48px;
  // overflow-y: scroll;

  input {
    width: 95%;
    border: none;
    height: 50px;
    margin-left: 10px;
    color: $--theme-ui-colors-mutedReverse;

    &:focus {
      outline: none;
    }
  }
}
