@import '../../../global.scss';

.modal-header {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
  display: flex;
  justify-content: space-between;

  .modal-header-button {
    .modal-header-button-delete {
      background: white;
      border: none;
      cursor: pointer;
      color: $--theme-ui-colors-red;
      padding: 9px;
      transition: $--theme-ui-transition-time;

      &:hover {
        background: #ffdede;
      }
    }
    .modal-header-button-close {
      background: white;
      border: none;
      cursor: pointer;
      padding: 9px;
      transition: $--theme-ui-transition-time;

      &:hover {
        background: $--theme-ui-colors-hover;
      }
    }
  }
}
.pg-modal-body {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  .pg-modal-body-left {
    width: 45%;
    display: flex;
    .pg-modal-body-icon {
      height: 40px;
    }
    .pg-modal-body-category {
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      h1 {
        font-weight: 700;
        font-size: 14px;
      }

      .pg-modal-body-category-wallet {
        font-size: 12px;
        font-weight: 500;
      }

      .pg-modal-body-category-date {
        font-size: 12px;
        border-bottom: 1px solid rgb(0 0 0 / 10%);
        padding-bottom: 5px;
      }

      .pg-modal-body-money {
        font-size: 20px;
        display: flex;
        justify-content: flex-end;
      }

      .pg-modal-body-money.minus {
        color: $--theme-ui-colors-red;
      }

      .pg-modal-body-money.plus {
        color: $--theme-ui-colors-green;
      }
    }
  }

  .pg-modal-body-note {
    width: 50%;
    box-shadow: rgb(0 0 0) 0px 0px 0px 2px inset, rgb(0 0 0) 3px 3px 0px;
    p {
      padding: 10px;
      word-wrap: break-word;
    }
  }
}
