@import '../../../global.scss';

.pg-transaction-summary-box {
  display: flex;
  padding: 15px;
  width: 100%;
  justify-content: space-around;
  font-size: 15px;
  & > div {
    // height: 140px;
    width: 100%;
    padding: 5px;
  }

  .pg-transaction-summary-box-sum {
    padding: 10px;
    box-shadow: rgb(0 0 0) 0px 0px 0px 2px inset, rgb(0 0 0) 3px 3px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .pg-transaction-summary-box-flow {
      display: flex;
      justify-content: space-between;
      padding: 3px 5px 5px 5px;
      img {
        margin-top: 3px;
        height: 13px;
      }

      .pg-transaction-summary-box-inflow {
        color: $--theme-ui-colors-green;
      }

      .pg-transaction-summary-box-outflow {
        color: $--theme-ui-colors-red;
      }
    }

    .pg-transaction-summary-box-total {
      border-top: 2px solid rgb(0 0 0 / 10%);
      display: flex;
      justify-content: flex-end;
      padding: 3px 5px;

      img {
        margin-top: 3px;
        margin-left: 2px;
        height: 13px;
      }
    }
  }

  .pg-transaction-summary-box-top-expense {
    padding: 10px;
    margin-right: 10px;
    box-shadow: rgb(0 0 0) 0px 0px 0px 2px inset, rgb(0 0 0) 3px 3px 0px;

    .pg-transaction-summary-box-top-expense-title {
      padding-bottom: 3px;
      border-bottom: 1px solid rgb(0 0 0 / 10%);
    }

    .pg-transaction-summary-box-top-expense-item {
      display: flex;
      justify-content: space-between;
      padding: 5px;
      .pg-transaction-summary-box-money-icon {
        margin-top: 3px;
        margin-left: 2px;
        height: 13px;
      }
    }
  }
}
