@import '../../../global.scss';

.pg-expense-input-object {
  @media (max-width: 1200px) {
    width: 40%;

    &:nth-child(5) {
      width: 86% !important;
    }
  }

  @media (max-width: 600px) {
    width: 80%;

    &:nth-child(5) {
      width: 80% !important;
    }
  }
  width: 27%;
  height: 40px;
  cursor: pointer;
  margin: 7px;
  padding: 10px;
  border: 2px solid rgba(156, 156, 156, 0.4);
  border-radius: 6px;
  transition: $--theme-ui-transition-time;

  &:nth-child(5) {
    width: 59%;
  }

  &:hover {
    border: 2px solid rgba(0, 0, 0, 0.4);
  }

  .pg-expense-input-object-title {
    font-size: 10px;
    padding-bottom: 3px;
    color: rgba(0, 0, 0, 0.54);
  }

  .pg-expense-input-object-info {
    .pg-expense-input-object-icon {
      width: 25px;
    }

    .pg-expense-input-object-data-select {
      border-left: 1px solid rgba(156, 156, 156, 0.4);
      font-size: 14px;
      margin-left: 50px;
      height: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 80%;
      margin-top: -50px;
    }
  }
}
