@import '../../global.scss';

.pg-expense-input-box {
  padding: 10px;
  .pg-expense-input-title {
    padding-bottom: 10px;
  }

  .pg-expense-input-form {
    border-top: 1px solid rgb(0 0 0 / 10%);
    padding: 24px 40px 0;
    max-height: 75vh;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
  }
}
