@import '../../../global.scss';

.pg-add-expense {
  @media (max-width: 992px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  position: relative;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  background-color: $--theme-ui-colors-box-background;
  height: 70vh;
  .pg-add-expense-button {
    width: 10%;
    margin: auto;
    background-color: $--theme-ui-colors-secondary;
    border: none;
    box-shadow: rgb(0 0 0) 0px 0px 0px 1px inset, rgb(0 0 0) 2px 2px 0px;
    color: $--theme-ui-colors-mutedReverse;
    transition: $--theme-ui-transition-time;

    &:hover {
      color: $--theme-ui-colors-secondary;
      background-color: $--theme-ui-colors-blue;
    }
  }

  .pg-add-expense-save {
    width: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: rgb(0 0 0) 0px 0px 0px 1px inset, rgb(0 0 0) 2px 2px 0px;
  }

  .pg-add-expense-save.success {
    background-color: $--theme-ui-colors-green;
  }

  .pg-add-expense-save.error {
    background-color: $--theme-ui-colors-red;
  }
}
