.pg-smallsidebar-container {
  @media (min-width: 992px) {
    display: none;
  }

  // position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
  opacity: 1;
  transition: 0.3s ease-in-out all;
}
