@import '../../../global.scss';

.pg-transaction-box-home {
  .pg-transaction-box-home-title {
    padding-bottom: 10px;
  }

  .pg-transaction-box-home-description {
    border-top: 1px solid rgb(0 0 0 / 10%);
    display: flex;
    padding-top: 10px;
    justify-content: center;
    flex-direction: column;

    .pg-transaction-box-home-group {
      margin: 5px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .pg-transaction-box-home-money {
        font-weight: 600;
      }

      .pg-transaction-box-home-money.minus {
        color: $--theme-ui-colors-red;
      }

      .pg-transaction-box-home-money.plus {
        color: $--theme-ui-colors-green;
      }

      span {
        display: flex;
        .pg-transaction-box-home-icon {
          height: 25px;
          padding: 9px;
          border-radius: 50%;
          background: $--theme-ui-colors-secondary;
        }

        .pg-transaction-box-home-info {
          margin-left: 10px;
          h3 {
            font-weight: 600;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }
}
