@import '../../global.scss';

aside {
  display: none;
  @media (min-width: 992px) {
    display: block;
    box-shadow: 1px 0px 0px 0px rgba(0, 0, 0, 0.1);
    .pg-bigsidebar-container {
      min-height: 100vh;
      height: 100%;
      width: 250px;
      transition: 0.3s ease-in-out all;
      margin-left: 0;

      .pg-bigsidebar-content {
        position: sticky;
        top: 0;

        header {
          height: 6rem;
          display: flex;
          // justify-content: center;
          align-items: center;
          padding-left: 2.5rem;
          .pg-bigsidebar-logo {
            width: 50px;
          }

          .pg-bigsidebar-title {
            font-weight: 600;
            color: $--theme-ui-colors-mutedReverse;
          }
        }
      }
    }
  }
}
