@import '../../../global.scss';

.pg-setting-view {
  padding: 15px;
  background-color: $--theme-ui-colors-box-background;
  height: 70vh;
  width: 35vw;
  margin: auto;

  @media (max-width: 992px) {
    width: 70vw;
  }
}
