$--theme-ui-colors-red: #f15b5c;
$--theme-ui-colors-background: #f2f1f6;
$--theme-ui-colors-box-background: #fff;
$--theme-ui-colors-blue: #1ca2d4;
$--theme-ui-colors-mutedReverse: rgba(0, 0, 0, 0.8);
$--theme-ui-colors-text: black;
