$--theme-ui-colors-red: #f15b5c;
$--theme-ui-colors-background: #f2f1f6;
$--theme-ui-colors-secondary: #f3ebd9;
$--theme-ui-colors-box-background: #fff;
$--theme-ui-colors-blue: #1ca2d4;
$--theme-ui-colors-mutedReverse: rgba(0, 0, 0, 0.6);
$--theme-ui-colors-text: black;
$--theme-ui-colors-hover: rgb(231, 226, 226);
$--theme-ui-colors-highlight: #f9a48c;
$--theme-ui-colors-red: #f8c3c5;
$--theme-ui-colors-muted: rgba(0, 0, 0, 0.6);
$--theme-ui-colors-green: #cbe7c5;
